@charset 'utf-8';
 
html {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 14px;
}
body {
	overflow-x: hidden;
	color: white !important;
	letter-spacing: -0.05em;
	background: linear-gradient(to right, #042C66, #3748AA);
}
a {
	text-decoration: none;
}
.local-nav {
	display: flex;
	align-items: center;
	margin: 0 auto;
	position: fixed;
	top: 0px;
	bottom: 5px;
	left: 0;
	z-index: 11;
	width: 100%;
	height: 52px;
	padding: 0 3rem;
	background: rgba(255, 255, 255, 0.1);
}
.local-nav-links {
	display: flex;
	align-items: center;
	max-width: 1000px;
	height: 100%;
	margin: 0 auto;
}
.local-nav-links .home-name {
	margin-right: auto;
	font-size: 1.4rem;
	font-weight: bold;
	color: white;
}
.local-nav-links a {
	font-size: 1rem;
}
.local-nav-links a:not(.home-name) {
	margin-left: 2em;
	color: white;
}
.body-content {
	position: relative;
	padding-top: 10vh;
}