<!DOCTYPE html>
<html lang="en">
<head>
    <title>Boxoffice</title>
    <meta charset="utf-8">
</head>

<body>
    <h1>Hello Boxoffice!</h1>
    <h3>Title</h3>
    <iframe
    src="{{iframeUrl}}"
    frameborder="0"
    width="800"
    height="600"
    allowtransparency
></iframe>
    <h3>data studio</h3>
    <iframe width="600" height="450" src="https://datastudio.google.com/embed/reporting/8ec2a548-156d-42ff-a210-a3bb462be643/page/YgThC" frameborder="0" style="border:0" allowfullscreen></iframe>
</body>
</html>



