<!DOCTYPE html>
<html lang="en">
<head>
    <title>Boxoffice</title>
    <meta charset="utf-8">
</head>

<body>
    <h1>Hello Boxoffice!</h1>
    <h3>Title</h3>
    <form action="/" method = "POST">
        <p>Name <input type = "text" name = "Name" /></p>
        <p>Physics <input type = "text" name = "Physics" /></p>
        <p>Chemistry <input type = "text" name = "chemistry" /></p>
        <p>Maths <input type ="text" name = "Mathematics" /></p>
        <p><input type = "submit" value = "submit" /></p>
     </form>
    <h3>data studio</h3>
    <iframe width="80%" height="1500" src="https://datastudio.google.com/embed/reporting/8ec2a548-156d-42ff-a210-a3bb462be643/page/YgThC" frameborder="0" style="border:0" allowfullscreen></iframe>
</body>
</html>



